{
    "irc": {
        "nick": "sumobot",
        "server": "irc.mozilla.org",
        "port": "6697",
        "ssl": true,
        "channels": ["#sumo"],
        "realname": "SuMo Bot",
        "password": ""
    },

    "logs": {
        "stdout": false,
        "log": true,
        "file": "bot.logs"
    },

    "bot": {
        "database": "data.db",
        "staticSumoDate": "2015-07-16",
        "welcomemessagesumoday": "Hi! this is an automatic message for sumo day.",
        "welcomemessagekb": "Hi! this is an automatic message for kb."
    },

    "twitter": {
        "channels": ["#sumo"],
        "consumerkey": "",
        "consumersecret": "",
        "accesstokenkey": "",
        "accesstokensecret": ""
    },

     "feeds": {
        "watch": ["https://blog.mozilla.org/sumo/feed/", "https://support.mozilla.org/en-US/questions/feed", "https://discourse.mozilla-community.org/c/sumo.rss"],
        "channels": ["#sumo"]
    }
}
