{
    "irc": {
        "nick": "sumobot",
        "server": "irc.mozilla.org",
        "port": "6697",
        "ssl": true,
        "channels": ["#sumobotdev"],
        "realname": "SuMo Bot",
        "password": "mypassword"
    },

    "logs": {
        "stdout": false,
        "log": true,
        "file": "bot.logs"
    },

    "bot": {
        "database": "data.db",
        "staticSumoDate": "2015-07-16",
        "welcomemessagesumoday": "Hi! this is an automatic message for sumo day.",
        "welcomemessagekb": "Hi! this is an automatic message for kb."
    },

    "twitter": {
        "channels": ["#sumobotdev", "sam"],
        "consumerkey": "",
        "consumersecret": "",
        "accesstokenkey": "",
        "accesstokensecret": ""
    },

     "feeds": {
        "watch": ["http://blog.mozilla.org/sumo/feed/", "http://blog.mozillabrasil.org.br/feed/"],
        "channels": ["#sumobotdev", "sam"]
    }
}
